In [51]:
import nltk
from nltk.corpus import stopwords
import os
import numpy as np
import string
import sklearn
from sklearn import feature_extraction
import pandas as pd

In [ ]:
stopword = set(stopwords.words('english'))
punctuat = set(string.punctuation)

In [2]:
pos_files = []
for root, dirs, files in os.walk("review_polarity/txt_sentoken/pos"):  
    for filename in files:
        if '.txt' in filename:
            pos_files.append(filename)
neg_files = []
for root, dirs, files in os.walk("review_polarity/txt_sentoken/neg"):  
    for filename in files:
        if '.txt' in filename:
            neg_files.append(filename)

In [37]:
sentences = []
y = []
for filename in pos_files:
    with open('review_polarity/txt_sentoken/pos/'+filename, encoding='utf-8') as f:
        sentences.append(f.read().lower().translate(str.maketrans('','',string.punctuation)))
        y.append(1)
for filename in neg_files:
    with open('review_polarity/txt_sentoken/neg/'+filename, encoding='utf-8') as f:
        sentences.append(f.read().lower().translate(str.maketrans('','',string.punctuation)))
        y.append(0)

In [8]:
filtered_sentence = [w for w in word_tokens if not w in stopword]
filtered_sentence = [w for w in word_tokens if not w in punctuat]

In [9]:
filterd = []
y = []
for sentence in pos_sentences:
    word_tokens = nltk.word_tokenize(sentence) 
    filtered_sentence = [w.lower() for w in word_tokens if not w in stopword]
    filtered_sentence = [w.lower() for w in word_tokens if not w in punctuat]
    filterd.append(filtered_sentence)
    y.append(1)
for sentence in neg_sentences:
    word_tokens = nltk.word_tokenize(sentence) 
    filtered_sentence = [w.lower() for w in word_tokens if not w in stopword]
    filtered_sentence = [w.lower() for w in word_tokens if not w in punctuat]
    filterd.append(filtered_sentence)
    y.append(0)

In [38]:
vectorizer = feature_extraction.text.TfidfVectorizer(stop_words = 'english')
X = vectorizer.fit_transform(sentences)

In [48]:
X

<2000x47182 sparse matrix of type '<class 'numpy.float64'>'
	with 493343 stored elements in Compressed Sparse Row format>

In [95]:
contigency = pd.DataFrame(index=vectorizer.get_feature_names(),data = 0, columns=['pos', 'neg'])

In [96]:
contigency.head(20)

           pos  neg
00           0    0
000          0    0
0009f        0    0
000acre      0    0
000aweek     0    0
000foot      0    0
000paltry    0    0
007          0    0
007esque     0    0
00s          0    0
010          0    0
03           0    0
04           0    0
05           0    0
05425        0    0
10           0    0
100          0    0
1000         0    0
10000        0    0
100m         0    0

In [97]:
for word in contigency.index:
    for i in range(0, len(sentences)):
        if word in sentences[i] and i == 1:
            contigency.loc[word]['pos'] = contigency.loc[word]['pos'] + 1
        elif word in sentences[i] and i == 0:
            contigency.loc[word]['pos'] = contigency.loc[word]['neg'] + 1

In [100]:
contigency.head(20)

           pos  neg
00           0    0
000          0    0
0009f        0    0
000acre      0    0
000aweek     0    0
000foot      0    0
000paltry    0    0
007          0    0
007esque     0    0
00s          0    0
010          0    0
03           0    0
04           0    0
05           0    0
05425        0    0
10           1    0
100          0    0
1000         0    0
10000        0    0
100m         0    0

In [114]:
count_vectorizer_pos = feature_extraction.text.CountVectorizer()
count_vectorizer_neg = feature_extraction.text.CountVectorizer()

In [115]:
X_count_pos = count_vectorizer_pos.fit_transform(sentences[0:1000])
X_count_neg = count_vectorizer_neg.fit_transform(sentences[1000:2000])

In [116]:
for word in contigency.index:
    if word in count_vectorizer_pos.vocabulary_:
        contigency.loc[word]['pos'] = count_vectorizer_pos.vocabulary_[word]
    if word in count_vectorizer_neg.vocabulary_:
        contigency.loc[word]['neg'] = count_vectorizer_neg.vocabulary_[word]